#wrap {
    width: 980px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #ccc;
}

.top>nav {
    padding-top: 10px;
    float: right;
}

.top>nav>ul>li {
    float: left;
}

.top>nav>ul>li>a {
    display: inline-block;
    min-width: 50px;
    padding: 5px;
    border-right: 1px solid black;
    font-size: 8px;
    height: 10px;
    line-height: 10px;
    text-align: center;
}

.top>nav>ul>li:last-child>a {
    border: 0;
}

.bottom {
    margin-top: 50px;
    clear: both;
    height: 50px;
}

.bottom>nav>ul>li {
    float: left;
    margin-right: 47px;
}

.bottom>nav>ul>li:last-child {
    margin: 0;
}